.local {
    min-height: 100dvh;
    background-color: var(--background-color);
    padding: clamp(var(--size-xsmall), 4vw, var(--size-medium)) 0;
    overflow:hidden;

    display: flex;
    flex-direction: column;
    gap: clamp(var(--size-xsmall), 4vw, var(--size-medium));
}

.local-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(var(--size-xsmall), 4vw, var(--size-medium));
}

.local-input {
    background-color: var(--form-color);
    border: 1px dotted var(--secondary-color);
    border-radius: var(--size-xsmall);
    padding: clamp(var(--size-xsmall), 4vw, var(--size-medium)) 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(var(--size-xsmall), 4vw, var(--size-medium));
}

.local-input * {
    place-content: center;
}

.local-output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.output {
    background-color: var(--background-color);
    width: var(--size-xlarge);
    text-align: center;
    border: 0;
    margin: 0;
}

.output:focus {
    outline: none;
    border: 0;
}